
<h2>List add</h2>
	<tbody>
		<?php foreach($users as $user): ?>
			<table cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<td><?= $this->Number->format($user->id) ?></td>
						<td><?= h($user->username) ?></td>
						<td><?= h($user->password) ?></td>
						<td><?= h($user->created) ?></td>
						<td><?= h($user->modified) ?></td>
					<?php endforeach; ?>
					</tr>
				</thed>
			</table>
	</tsbody>
